@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/236599/pexels-photo-236599.jpeg?auto=compress&cs=tinysrgb&w=800');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*
  Make the scrollbar a little bit more visible by making it a bit thicker
  and giving it a dark background and a black thumb
*/
::-webkit-scrollbar{
  width: 8px;
}
/*
  The track is the background of the scrollbar
  Set the color to a dark gray color
*/
::-webkit-scrollbar-track{
  background-color: #555;
}
/*
  The thumb is the part of the scrollbar that you can drag
  Set the color to black and give it rounded corners
*/
::-webkit-scrollbar-thumb{
  background-color: #121212;
  border-radius: 10px;
}
/*
  When you hover over the thumb, change the color to a slightly lighter 
  shade of gray
*/
::-webkit-scrollbar-thumb:hover{
  background-color: #333;
}
